{
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 150,
	"singleQuote": false,
	"proseWrap": "always",
	"insertPragma": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"requirePragma": false,
	"trailingComma": "none",
	"jsxBracketSameLine": false
}
